# Ignore all files in site-packages
hid/lib/python3.12/site-packages/

# Ignore Python bytecode
*.pyc
__pycache__/

# Ignore large model files
models/*.h5
models/*.keras
models/*.pkl

# Ignore virtual environments
hid/
*.egg-info
.env/
venv/
